*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ font-size: 62.5%; }

li{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --body-bg: #f1f1f1;
    --navbar-clr:#4A6492;
    --primary-clr:#6791c5;
    --secondary-clr: #D0D9DB;
    --panel-default-text:#333333;
    --panel-default-bg: #ffffff;

}

body {
    font-family: 'Nunito';
    font-size: 1.6rem;
}

.body__wrapper{
    background-color: var(--body-bg);
    display: flex;
}

.body__wrapper > .sidebar {
    background-color: var(--navbar-clr);
    height: 100vh; 
    flex: 1;
    position: sticky;
    left: 0; 
    top: 0;   
}

.content{
    flex: 6;
    position: sticky;
    margin: 3rem auto;
    width: 96%;
}

header{
    position: fixed;
    width: 86%;
    left: 14.3%;
    top: 0;
    z-index: 10;
    background-color: var(--body-bg);
    box-shadow: 0px 0px  1px gray;

}

.navbar_icons{
    display: flex;
    gap: 2.6rem;
    padding: .6rem 3rem;
    color: grey;
    font-size: 1.7rem;
    justify-content: flex-end;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--body-bg);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 150px;
    top: 3rem;
    right: 1rem;
    font-size: 1.2rem;
    border-radius: .4rem;
    text-transform: capitalize;
}
.dropdown-content li{
    padding: 1rem 1rem;
    color: black;
}
.dropdown-content li:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {display: block;}

/* SIDEBAR STYLING */

.logo{
    width: 100%;
    background-color: #fff;
    position: relative;
}
.logo::after{
    content: 'Crud App';
    position: absolute;
    font-size: 2.4rem;
    font-weight: bold;
    top: 25%;
    left: 44%;
    color: var(--navbar-clr);
}
.logo img{
    width: 10rem;
    height: 7rem;
    background-color: #fff;
}

.sidebarMenu{
     margin-top: 1.6rem;
}
.sidebarListItem{
    padding: 1.3rem 2rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    align-items: center;
    border-radius: 1rem;
    color: #ddd;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
.sidebar-icons{
    font-size: 1.6rem;
}
.sidebarListItemLabel{
    margin-left: 1.2rem;

}
.active > li{
    background-color: var(--secondary-color-100);
    border-radius: 0;
    border-right: 5px solid var(--secondary-color-100);
}
.active > li > *{
    color: #000;
}
.sidebarListItem:hover{
    color: #fff;
    border-radius: 0;
}

/* home page style */
.page-header{
    margin: 3rem 0rem;
}

.page-header-row{
    display: flex;
    justify-content: space-between;
    padding: 0px 3rem;
    align-items: center;
}

.header-title{
    font-size: 2.4rem;
    font-weight: 200;
    position: relative;
    /* margin-left: 1rem; */
}
.header-title::before{
    content: '';
    position: absolute;
    top: 10px;
    left: -1.8rem;
    width: 9px;
    height: 11px;
    box-shadow: 0px 0px 1px  grey;
    background-color: rgb(244, 216, 126);
}

.create-btn{
    padding: 8px 7px;
    font-size: 14px;
    font-weight: 200;
    border-radius: 5px;
    letter-spacing: 1px;
    border: 1px solid var(--secondary-clr);
    background-color:  var(--secondary-clr);
    color: #585858;
    cursor: pointer;
}

.gt-icon{
    font-size: 1.2rem;
    vertical-align: middle;
}
.record{
    width: 96%;
    margin: auto;
}

.action-btn{
    font-size: 16px;
    padding: 9px 20px;
    background: none;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}
.button-group{
    margin-bottom: 2rem;
}
.save-btn{
    background: var(--primary-clr);
    color: #fff;
    border-radius: 7px 0px 0px 7px;
}

.cancle-btn{
    background: var(--secondary-clr);
    margin-left: -4px;
    border-radius: 0px 7px 7px 0px;
}


/* form created */

.record-grid{
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: minmax(auto,67%) minmax(auto,33%);
}

.middle{
    margin-bottom: 1.6rem;
}
.panel-default{
    background: linear-gradient(to bottom,var(--panel-default-bg) 0,
    var(--panel-default-bg) 29px,
    #fff 29px,
    #fff 100%);
}
.panel-heading{
    color: var(--panel-default-text);
    background-color: var(--panel-default-bg);
    border-color: transparent;
    padding: 6px 10px;
    border-bottom: 1px solid transparent;
}

.panel-title{
    font-size: 1.5rem;
    line-height: 1.4;
    padding-top: calc((3rem - 1.5rem * 1.4)/ 2);
    padding-bottom: calc((3rem - 1.5rem * 1.4)/ 2);
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    font-weight: 500;
}
.panel-body{
    padding: 14px;
}

.panel > .panel-body.panel-body-form {
    padding-bottom: 2px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    justify-content: space-between;
}
.form-group {
    margin-bottom: 12px;
}

.col-sm-6{
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}
.control-label{
    margin-bottom: 2px;
    color: #999;
    font-weight: 400;
    display: inline-block;
    max-width: 100%;
}

.form-control{
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #D1D5D6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.04);
}

.form-control:focus{
   outline: 0 ;
   border-color: #66ADE9;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102, 175, 233, 0.6);
   /* background-color: red; */

}